// COLORS
:root {
  --color-black: #000;
  --color-black-hover: #333;
  --color-white: #fff;
  --color-light-white: #f2f2f2;
  --color-gray: #b3b3b3;
  --color-lite-gray: #eaeaea;
  --color-accent: #1698d9;
  --color-accent-hover: #2ea8e6;
  --color-dark-gray: #666666;
  --color-coral: #de707b;
  --color-green: #4caf50;
  --color-light-salat: #f3ffd1;
  --color-error-input: #ffdddd;
  --color-warning: #ffe0a6;
}